#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

.button {
  background-color: #3498db;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  color: white;
}

.todos-search-field {
  min-width: 200px;
  max-width: 500px;
  width: 100%;
}
